// https://www.minimamente.com/yopalette/
$blue: #086fb9;
$blue1: #2b90d9;
$blue2: #00B4E4;
$blue3: #61a8f8;
$blue4: #2b67f5;

$red: #f22117;
$red1: #ff7473;
$red2: #ff5c60;
$red3: #a6172d;


$green: #388e3c;

$gray2: #dfe3e6;
$gray1: #f5f7f6;
$gray: #7f9298;
$gray3: #5d5d5d;

$white: #ffffff;
$black: #000000;
