@import url('https://fonts.googleapis.com/css?family=Bree+Serif|El+Messiri|Josefin+Sans|Libre+Baskerville|Libre+Franklin|Quicksand|Righteous|Varela+Round|Work+Sans');

// font-family: 'Quicksand', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'El Messiri', sans-serif;
// font-family: 'Libre Baskerville', serif;
// font-family: 'Libre Franklin', sans-serif;
// font-family: 'Bree Serif', serif;
// font-family: 'Varela Round', sans-serif;
// font-family: 'Righteous', cursive;

body {
    font-family: 'Varela Round', sans-serif;
    //font-family: 'Righteous', cursive;
    font-size: 14px;
}

h1 {
    //font-family: 'Righteous', cursive;
    font-family: 'Josefin Sans', sans-serif;
}

h2, h3, h4, h5, h6, h7 {
    font-family: 'Josefin Sans', sans-serif;
}

button, a {
    font-family: 'Courier New', Courier, monospace;
}

p, div, span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}